body::before {
  content: "";
  background-image: url("/skyline.png");
  background-size: cover;
  opacity: 0.3;
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: -1;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-content {
  position: fixed;
  top: 0;
  height: 70vh;
  width: 100vw;
  z-index: 5;
  transition: 2s;
}

.header-content img {
  width: 25%;
  border-radius: 16px;
  border-style: inset;
  margin-top: 2rem;
  transition: 2s;
}
.header-content.scrolled img {
  margin-top: 7rem;
  width: 100%;
  transition: 2s;
}

.header-content.scrolled {
  font-size: 0.8rem;
  width: 15%;
  bottom: 10%;
  opacity: 0.5;
  transition: 2s;
  margin: 1rem;
}

.skills {
  position: fixed;
  top: 1px;
  right: 1px;
  width: 15%;
  opacity: 0;
  transition: 0.5s;
}

.skills.scrolled {
  opacity: 0.8;
  transition: 2s;
}

.degrees {
  opacity: 1;
  transition: 2s;
}
.degrees.scrolled {
  opacity: 0;
  transition: 0.5s;
}
.degrees2 {
  position: fixed;
  width: 15%;
  bottom: 1px;
  right: 1px;
  opacity: 0;
  transition: 0.5s;
}

.degrees2.scrolled {
  opacity: 0.5;
  transition: 2s;
}
.main {
  opacity: 0;
  transition: 0.5s;
}
.main.scrolled {
  opacity: 1;
  transition: 2s;
  margin-left: 2rem;
  margin-right: 2rem;
}

.main .fullintro {
  line-height: 2;
  margin-left: 30%;
  margin-right: 30%;
  text-shadow: 0px 0px 1px white;
}

.business-card {
  width-max: 50px;
  position: sticky;
  top: 90%;
}


.card-info {
  width-max: 45px;
  position: sticky;
  top: 90%;
}

