body::before {
  content: "";
  background-image: url("/skyline.png");
  background-size: cover;
  opacity: 0.3;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-content {
  position: fixed;
  width: 100vh;
  height: 90vh;
  top: 0;
  z-index: 2;
  transition: 1.5s;
}

.header-content img {
  height: 30%;
  border-radius: 16px;
  border-style: inset;
}

.header-content.scrolled {
  width: 30%;
  top: 5%;
  transition: 1.5s;
}

.skills {
  position: fixed;
  top: 0;
  right: 5px;
  width: 25%;
  opacity: 0;
  transition: 1.5s;
}

.skills.scrolled {
  opacity: 1;
  transition: 1.5s;
}
.sticky {
  position: sticky;
  top: 50px;
}
.degrees {
  opacity: 1;
  transition: 1.5s;
}
.degrees.scrolled {
  opacity: 0;
  transition: 1.5s;
}
.degrees2 {
  position: fixed;
  width: 25%;
  bottom: 5px;
  right: 5px;
  opacity: 0;
  transition: 1.5s;
}

.degrees2.scrolled {
  opacity: 0.5;
  transition: 1.5s;
}
.main {
  opacity: 0;
  transition: 1.5s;
}
.main.scrolled {
  opacity: 1;
  transition: 1.5s;
}
