body::before {
  content: "";
  background-image: url("/skyline.png");
  background-size: cover;
  opacity: 0.3;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-content {
  position: fixed;
  top: 0;
  height: 80vh;
  width: 100vw;
  z-index: 5;
  transition: 2s;
}

.header-content img {
  height: 30%;
  border-radius: 16px;
  border-style: inset;
  opacity: 1;
  margin-top: 2rem;
  transition: 2s;
}
.header-content.scrolled img {
  margin-top: 6rem;
  margin-right: 1rem;
  opacity: 0.6;
  transition: 2s;
}

.header-content.scrolled {
  font-size: 1.4rem;
  width: 25%;
  bottom: 10%;
  transition: 2s;
  margin: 2rem;
}

.skills {
  position: fixed;
  top: 0;
  right: 5px;
  width: 25%;
  opacity: 0;
  transition: 0.5s;
}

.skills.scrolled {
  opacity: 1;
  transition: 2s;
}
.sticky {
  position: sticky;
  top: 50px;
}
.degrees {
  opacity: 1;
  transition: 2s;
}
.degrees.scrolled {
  opacity: 0;
  transition: 0.5s;
}
.degrees2 {
  position: fixed;
  width: 25%;
  bottom: 5px;
  right: 5px;
  opacity: 0;
  transition: 0.5s;
}

.degrees2.scrolled {
  opacity: 0.6;
  transition: 2s;
}
.main {
  opacity: 0;
  transition: 0.5s;
}
.main.scrolled {
  opacity: 1;
  transition: 2s;
}
